/* General Page Styling */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9c3c3;
  color: #000000;
}

/* Header */
header {
  background-color: #002B5B;
  color: white;
  text-align: center;
  padding: 40px 20px;
}

/* Section */
section {
  padding: 30px 20px;
  text-align: center;
}

/* Headings */
h2 {
  color: #002B5B;
}

/* Activities List */
ul {
  list-style: none;
  padding: 0;
}

ul li {
  background: #FF9933;
  color: white;
  margin: 8px auto;
  padding: 10px;
  max-width: 400px;
  border-radius: 5px;
}

/* Gallery */
.images {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.images img {
  width: 250px;
  height: 160px;
  border-radius: 8px;
  object-fit: cover;
  transition: 0.3s;
}

.images img:hover {
  transform: scale(1.05);
}

/* Footer */
footer {
  background-color: #002B5B;
  color: white;
  padding: 10px 0;
  text-align: center;
  font-size: 14px;
}
